resources:
- name: openshift
  type: openshift.jinja
  properties:
    zone: us-central1-a
    image-infra: https://www.googleapis.com/compute/v1/projects/openshift-test-drive/global/images/family/ocp39-infra
    image-master: https://www.googleapis.com/compute/v1/projects/openshift-test-drive/global/images/family/ocp39-master
    image-node1: https://www.googleapis.com/compute/v1/projects/openshift-test-drive/global/images/family/ocp39-node1
    image-node2: https://www.googleapis.com/compute/v1/projects/openshift-test-drive/global/images/family/ocp39-node2
    mtype: n1-standard-2

outputs:
- name: OpenShiftConsole
  value: $(ref.openshift.OpenShiftConsole)
- name: user
  value: $(ref.openshift.user)
- name: password
  value: $(ref.openshift.password)
