resources:
- name: testdrive
  type: testdrive.jinja
  properties:
    zone: us-central1-a
    image-base: https://www.googleapis.com/compute/v1/projects/openshift-test-drive/global/images/family/rhel7ocp310
    mtype: n1-standard-2

outputs:
- name: BaseHostCLI
  value: $(ref.testdrive.BaseHostCLI)
